.wrap > div {
  width: 30%;
  float: left;
  text-align: center;
  height: 130px;
  line-height: 130px;
  font-size: 300%;
  position: relative;
  outline: 1px solid #fff;

  .selected {
    position: absolute;
    right: 10px;
    top: 10px;
  }

}

