테스트


<br><br><br><br><br>


<div class="container">
    <div class="row wrap">
        <div ng-repeat="block in blocks" ng-style="style(block)" ng-click="selectBlock(block)">
            <i class="fa" ng-class="shapes[block.shape]"></i>
            <i ng-show="block.select" class="fa fa-check selected"></i>
        </div>
    </div>

    <div>{{format.selects(selects)}}</div>


    찾은거
    <div ng-repeat="each in discovered">{{format.discovered(each)}}</div>

    <div ng-click="check()">합</div>
    <div ng-click="done()">결</div>


</div>