<div class="container">
    <div class="row wrap">
        <div ng-repeat="block in blocks" ng-style="style(block)" ng-click="selectBlock(block)">
            <i class="fa" ng-class="shapes[block.shape]"></i>
            <i ng-show="block.select" class="fa fa-check selected"></i>
        </div>
    </div>

    <div>{{format.selects(selects)}}</div>


    찾은거
    <div ng-repeat="each in discovered">{{format.discovered(each)}}</div>

    <div ng-click="check()">합</div>
    <div ng-click="done()">결</div>

    <input ng-model="name" placeholder="이름">

    <div class="panel panel-primary">
        <div class="panel-heading">선수들</div>
        <div class="panel-body">
            <div ng-repeat="player in players | orderBy: player.score">{{player.name||"이름없는 플레이어"}}
                ({{player.score||0}})
            </div>
        </div>
    </div>

</div>