<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="label label-info"> Room Id : {{roomId}}</div>

            <h1>결합!<a target="_blank" href="https://www.youtube.com/watch?v=0gCfLVFs79w"><i
                    class="fa fa-question-circle"></i></a>
                <small ng-show="orderedPlayers[0].name"> 방 1위 : {{orderedPlayers[0].name}} ({{orderedPlayers[0].score}})
                </small>
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">결합 <span class="badge pull-right" ng-click="resetShapes()"><i
                        class="fa fa-refresh"></i></span></div>
                <div class="panel-body wrap">
                    <div ng-repeat="block in blocks" ng-style="style(block)" ng-class="{selected:block.select}"
                         ng-click="selectBlock(block)">
                        <i class="fa" ng-class="shapes[block.shape]"></i>
                        <span class="number">{{blocks.indexOf(block)+1}}</span>
                        <!--<i ng-show="block.select" class="fa fa-check selected"></i>-->
                    </div>
                </div>
                <div class="panel-body" ng-show="discovered.length>0">
                    <div>이미 찾은 합</div>
                    <span ng-repeat="each in discovered" style="margin-right:5px;" class="btn btn-success"
                          ng-class="{'btn-danger':discovered.indexOf(each) === already}">{{format.discovered(each)}}</span>
                </div>
                <div class="panel-footer">
                    <div class="btn-group-lg lg-group">
                        <div class="btn btn-primary" ng-click="check()"
                             ng-disabled="selects.length!=3 || already!==false">
                            {{format.selects(selects)}} 합
                        </div>
                        <div class="btn btn-success" ng-click="done()">결</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="panel panel-primary">
                <div class="panel-heading">플레이어</div>
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'list-group-item-success':player.id == id}"
                        ng-repeat="player in orderedPlayers = (players | orderBy: 'score':true)">
                        {{player.name||"플레이어"}}
                        <span class="badge">{{player.score||0}}</span>
                    </li>
                </ul>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">말하기</div>
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-repeat="message in messages">
                        <div class="label label-default">{{message.from}}</div>
                        {{message.message}}
                        <div class="label label-success">{{message.date.toString()}}</div>
                    </li>
                </ul>
                <div class="panel-footer">
                    <div class="input-group">
                        <input class="form-control" ng-enter="send(message);message=''" ng-model="message">

                        <div class="input-group-addon" ng-click="send(message);message=''">말하기</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item"
            ng-class="{'list-group-item-success':alert.success,'list-group-item-danger':!alert.success}"
            ng-repeat="alert in alerts">{{alert.alert}}
            <div class="label">{{alert.date.toString()}}</div>
        </li>
    </ul>

    <div class="panel panel-primary">
        <div class="panel-heading">규칙</div>
        <ul class="list-group">
            <li class="list-group-item">도형모양, 도형색, 배경색이 모두 같거나 모두 다른 3개 -> 합</li>
            <li class="list-group-item">남은 합이 없으면 -> 결</li>
            <li class="list-group-item">결성공 = +3점 / 결실패 = -2점 / 합성공 = +1점 / 합실패 = -1점</li>
            <li class="list-group-item">0점이하로는 떨어지지 않음</li>
            <li class="list-group-item">각 합과 결에서 자신을 제외한 나머지 플레이어의 점수 * 0.02점 보너스를 받음(최대 10점)</li>
            <li class="list-group-item">1.5초간 딜레이</li>

            <li class="list-group-item">[TODO] 레벨링</li>
        </ul>
    </div>

</div>
